!!! 5
%html
  %head
    %title= block(:title, "101Ideas.cz")
    %meta{"http-equiv" => "content-type", content: "text/html; charset=utf-8"}
    %meta{"http-equiv" => "content-language", content: "en"}
    %meta{name: "description", content: block(:description, "")}
    %meta{name: "keywords", content: block(:keywords, "")}
    %link{rel: "icon", href: "/assets/img/logo.jpg", type: "image/jpeg"}
    - extend Ace::Helpers # FIXME
    = pupu :blueprint, plugins: ["fancy-type"]
    =# pupu :mootools, more: true
    =# pupu :flash
    =# pupu :autocompleter, type: "request"
    =# javascripts "application", *block(:javascripts, Array.new)
    =# stylesheets *block(:stylesheets, Array.new)
    %script{src: "http://google-analytics.com/ga.js"}
    :javascript
      try {
        var pageTracker = _gat._getTracker("UA-8433562-1");
        pageTracker._trackPageview();
      } catch(err) {}
    = block(:head)
  %body
    .container
      %h1 Blog 101Ideas.cz
      %h2.alt An umbrella company.
      .span-14
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .span-7.last
      %h3 Menu
      #main= block(:body)
    %hr.space
    == &copy; 2007 &ndash; #{Time.now.year} Jakub Stastny aka botanicus.
